body {
    margin: 0;
    font-family: Arial, sans-serif;
}

nav {
    background-color: black;
}

nav ul {
    display: flex;            
    justify-content: center; 
    list-style: none;       
    margin: 0;
    padding: 10px 0;
}

nav ul li {
    margin: 0 15px;          
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

.text {
    text-align: center;
    padding: 80px 20px;
}
.text p {
    font-size: 24px;
    color: #0f0e0e;
}

.signup-btn {
    background-color: #4CAF50; 
    color: white;
    padding: 10px 20px;
    text-decoration: none;
    border-radius: 5px;
    font-size: 16px;
    
}

.signup-btn:hover {
    background-color: #45a049;
}

